<!-- extend base layout -->
{% extends "layout.html" %}
{% set images = [
  ('one_main_twentyone_pips.png'),
  ('one_main_seven_pips.png'),
  ('one_main_zero_pips.png')] %}

{% block content %}
  <h3>Edit Your VMR</h3>
  <hr>

  <form action="" method="post" name="edit">
      {{form.hidden_tag()}}
      {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="table-responsive">
      <table class="table">
          <th>PINS:</th>
          <tr>
              <td>Host PIN:</td>
              <td>{{ form.pin(size=5) }}</td>
          </tr>
          <tr>
            <td><b>Allow Guests</b></td><td>{{ form.allow_guests}}</td>
          </tr>
          {%if form.allow_guests %}
          <tr>
            <td><b>Guest PIN:</b></td><td>{{ form.guest_pin(size=5) }}</td>
          </tr>
          {%endif%}
          <th>Layout:</th>
          <tr>
            <td><img src="{{ url_for('static', filename='img/one_main_twentyone_pips.png') }}" alt="1+21" style="width:150px;height:108px;"></td>
            <td><img src="{{ url_for('static', filename='img/two_main_twentyone_pips.png') }}" alt="2+21" style="width:150px;height:108px;"></td>
            <td><img src="{{ url_for('static', filename='img/one_main_zero_pips.png') }}" alt="1+0" style="width:150px;height:108px;"></td>
            <td><img src="{{ url_for('static', filename='img/one_main_seven_pips.png') }}" alt="1+7" style="width:150px;height:108px;"></td>
          </tr>
          <tr>
              <!-- <td>Conference<br>View:</td> -->

              {% for field in form.host_view %}
                <td>{{field}} {{field.label}}
                </td>
              {% endfor %}

          </tr>
          </table>
        </div>
          <hr>
          <input type="submit" value="Save Changes">
          <i>Note: it can take up to a minute for changes to take effect.</i>
  </form>

{% endblock %}
